.content{
    transform: translateY(65px); 
   
}
.form-center{
    margin-bottom: 10px;
   
}

.h3 mb-3 fw-normal{ 
    font-family: "Unica One", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1.875em;
}

