<body class = "content block text-center"> 
  <div class = "container border p-5 " style = "width: 500px"> 
<form>
    <h1 class="h3 mb-3 fw-normal">LOGIN</h1>

    <div class="form-center ">
      <input type="email" class="form-control" id="floatingInput" placeholder="Email">
    </div>
    <div class="form-center">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    </div>
    <div class = "button">
    <button class="w-100 btn btn-lg btn-primary" type="submit">SIGN IN</button>
    <p><a href="#recover" id="RecoverPassword">Forgot your password?</a></p>
            

    <p><a href="/account/register" id="customer_register_link">Create account</a></p>
</div>
  </form>
</div>
</body>


