.card{
    border: none;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-size: 16;
    color: black;
    padding: 75px;
    transform: translateY(-15px);
    vertical-align: middle;
    
}
.card-group{
    
    background-color: #f7f7f7; 
    
}

.img{
    width: 300px;
    height: 350px;
    
}

