.description{
    text-align: center;
    font-size: 30px;
    font-style: "Unica one", san-serif;
    font-style: color(black);
}

.card-text{
    text-align:center; 
    
}

.container-fluid{
    
    border-style: none;
    box-sizing: border-box;
    height:300px;
    width: 500px; 
   
   
}








