<div class="row row-cols-3">
  <div class="card" style="width: 18rem;">
    <img src="assets/card3.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Mustang Lifestyle OG T-shirt</h5>
      <p class="card-text">$15</p>
      <a href="#" class="btn btn-primary">ADD TO CART</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/ml2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Drag Racing T-Shirt</h5>
      <p class="card-text">$20</p>
      <a href="#" class="btn btn-primary">ADD TO CART</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/m12.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ML American Flag T-Shirt</h5>
      <p class="card-text">$20</p>
      <a href="#" class="btn btn-primary">ADD TO CART</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/ml3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ML American Flag Hoodies</h5>
      <p class="card-text">$50</p>
      <a href="#" class="btn btn-primary">ADD TO CART</a>
    </div>
  </div>
  
</div>