<nav class="navbar navbar-expand navbar-black bg-black">
    <div class="container">
<ul class = "navbar-nav" style = "margin-left: 2px;">
    <li class = "nav-item">
        <a routerLink = "home" routerLinkActive="active" class = "nav-link" href="" style = "color: grey">
        <b>HOME </b>
    </a>
    </li>

    <li class = "nav-item">
        <a routerLink = "pages/mustang-lifestyle-merch" routerLinkActive="active" class = "nav-link active" href="" style = "color: grey">
       <b>MUSTANG LIFESTYLE MERCH</b>
    </a>
    </li>

    <li class = "nav-item">
        <a routerLink = "collections" class = "nav-link" href="" style = "color: grey">
       <b>FORD VEHICLES</b>
    </a>
    </li>

    <li class = "nav-item" >
        <a routerLink = "collections/2020-gt500" class = "nav-link" href="" style = "color: grey">
       <b> 2020 GT500 </b> 
    </a>
    </li>

     <li class="nav-item" style = "margin-left: 650px;" >
    <a routerLink = "account" class="nav-link" href="#" style = "color: grey">
        Account
    </a>
  </li>
</ul>
</div>
</nav>