<nav class="navbar navbar-light bg-black">
    <div class="container">
        <a class="navbar-brand" href="#" height="290" >
            <img src="/assets/mustang lifestyle banner.png" alt="" width="450" height="105" style = "margin-left: 130px;">
        </a>
    </div>

    <ul> 
        <div class = "icons">
    <svg class="bi" width="17" height="17" fill="white" style = "margin-right: 20px;">
        <use xlink:href="/assets/bootstrap-icons.svg#search" />
    </svg>

    <svg class="bi" width="17" height="17" fill="white" style = "margin-right: 15px;">
        <use xlink:href="/assets/bootstrap-icons.svg#cart3" />
    </svg>
</div>
</ul>
</nav>