.TopNavBarComponent{
    
    line-height: 75px;
    text-decoration-line: underline;
    font-family: sans-serif;
    font-size:16px;
    
    
}

.icons{
    padding-right: 145px;
    align-self: left;
}